# Formating

.format
%
f""
+

### .format

In [1]:
name = "Qasim"
fname = "Aslam"
age = 28
gender = "Male"

card = """
PIAIC Admit Card
Name: {}
Father's Name: {}
Age: {} , Gender {}
"""

print(card.format(name, fname, age, gender))

PIAIC Admit Card
Name: Qasim
Father's Name: Aslam
Age: 28 , Gender Male

In [2]:
name = "Qasim"
fname = "Aslam"
age = 28
gender = "Male"

card = """
PIAIC Admit Card
Name: {1}
Father's Name: {0}
Age: {2} , Gender {3}
"""

print(card.format(name, fname, age, gender))

PIAIC Admit Card
Name: Aslam
Father's Name: Qasim
Age: 28 , Gender Male

In [3]:
name = "Qasim"
fname = "Aslam"
age = 28
gender = "Male"

card = f"""
PIAIC Admit Card
Name: {name}
Father's Name: {fname}
Age: {age} , Gender {age}
"""

print(card)

PIAIC Admit Card
Name: Qasim
Father's Name: Aslam
Age: 28 , Gender 28

In [6]:
name = "Qasim"
fname = "Aslam"
age = 28
gender = "Male"

card = f"""
PIAIC Admit Card
Name: %s
Father's Name: %s
Age: %d , Gender %s
"""%(name, fname, age, gender)

print(card)

PIAIC Admit Card
Name: Qasim
Father's Name: Aslam
Age: 28 , Gender Male

In [10]:
name = "Qasim"
fname = "Aslam"
age = 28
gender = "Male"

print("PIAIC Admit Card \nName: " + name + "\nFather's Name:"+ fname +"\nAge:" + str(age))

PIAIC Admit Card
Name: Qasim
Father's Name:Aslam
Age:28

# Comments

### Single line comment

In [11]:
print("Python line1")
print("Python line2")
#mujhy database sy value uthani hai
#i have to extract value from database
print("Python line3") # call user name
print("Python line4 # pakistan")

Python line1
Python line2
Python line3
Python line4 # pakistan

In [12]:
'''
pakistan zinda bab
we are pakistani
'''
print("Hello World")

Hello World

In [13]:
def abc(x):
    """
    x = x ** 2
    """
    return x**2
help(abc)

Help on function abc in module __main__:

abc(x)
    x = x ** 2

In [14]:
abc??

In [15]:
print("Python line1")
# print("Python line2")
# print("Python line1")
# print("Python line2")
# print("Python line1")
# print("Python line2")
# print("Python line1")
# print("Python line2")
# print("Python line1")
print("Python line2")

Python line1
Python line2

In [16]:
print("Python line1")
print("Python line2")
print("Python line1")
print("Python line2")
print("Python line1")
print("Python line2")
print("Python line1")
print("Python line2")
print("Python line1")
print("Python line2")

Python line1
Python line2
Python line1
Python line2
Python line1
Python line2
Python line1
Python line2
Python line1
Python line2

# List

In [17]:
name1 = "Qasim"
name2 = "Nasir Hussain"
name3 = "Inam ul haq"
name4 = "Dr Noman"
name5 = "Anees Ahmed"

print(name1, name2, name3, name4, name5, sep="\n")

Qasim
Nasir Hussain
Inam ul haq
Dr Noman
Anees Ahmed

In [24]:
# []
# left to right count index 0,1,2,....
# right to left count index -1,-2,-3,....

# [elment1,element2] "," used to seperate each element in list
#              0            1           2            3                4
names = ["Inam ul Haq","Dr Noman","Anees Ahmed","Nasir Hussain","Muhamamd Qasim"]
#             -5           -4          -3           -2                -1

print(names[0],names[1],names[2],names[3],names[4],sep='\n')

Inam ul Haq
Dr Noman
Anees Ahmed
Nasir Hussain
Muhamamd Qasim

In [25]:
#              0            1           2            3                4
names = ["Inam ul Haq","Dr Noman","Anees Ahmed","Nasir Hussain","Muhamamd Qasim"]
#             -5           -4          -3           -2                -1
names[-3]

'Anees Ahmed'

In [26]:

obj1 = ["Qasim","Aslam",28, "A.I", "Faculty member", True, [1,3,4], {"a":"A"}]
obj1

['Qasim', 'Aslam', 28, 'A.I', 'Faculty member', True, [1, 3, 4], {'a': 'A'}]

# String Methods

In [28]:
#variableName.  (. then press tab)
# dir(variable name)

In [29]:
name = "Qasim"
name.capitalize()

'Qasim'

In [30]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
#variableName?, variableName??, help(variableName), ?variableName
name.lower??

In [32]:
#Function
# Return-> we can assign value to any other variable
# Non-Return -> we can't assign value to any other variable

In [34]:
a = print("Pakistan") # Non-Return Function
print(a)

Pakistan
None

In [35]:
def abc(x):
    return x + 10

a = abc(5)
print(a)

15

#### List Methods

In [36]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"]
print(type(l1))
print(dir(l1))

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [37]:
#Object
# Method -> Perform any action -> variable.MethodName()  "()"
# Attribute,property,field -> have some value -> variable.AttributeName

In [38]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"]
l1.append??

In [40]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"] #old list
print(l1)
l1.append("Anees Ahmed")# add new element in last 
print(l1) #updated list

['Qasim', 'Nasir Hussain', 20, 'A.I']
['Qasim', 'Nasir Hussain', 20, 'A.I', 'Anees Ahmed']

In [41]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"] #old list
print(l1)
l1.append(20)# add new element in last 
print(l1) #updated list

['Qasim', 'Nasir Hussain', 20, 'A.I']
['Qasim', 'Nasir Hussain', 20, 'A.I', 20]

In [43]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"] #old list
print(l1)
l1.append(False)# add new element in last 
print(l1) #updated list

['Qasim', 'Nasir Hussain', 20, 'A.I']
['Qasim', 'Nasir Hussain', 20, 'A.I', False]

In [44]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"] #old list
print(l1)
l1.append([2,3,4])# add new element in last 
print(l1) #updated list

['Qasim', 'Nasir Hussain', 20, 'A.I']
['Qasim', 'Nasir Hussain', 20, 'A.I', [2, 3, 4]]

In [45]:
names = []
while True:
    name = input("Enter Student Name:")
    if name == 'No':
        break
    names.append(name)
    
names

Enter Student Name:Qasim
Enter Student Name:Ali
Enter Student Name:Hamza
Enter Student Name:Junaid
Enter Student Name:No

['Qasim', 'Ali', 'Hamza', 'Junaid']

In [46]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"] #old list
print(l1)
l1.clear()# add new element in last 
print(l1)

['Qasim', 'Nasir Hussain', 20, 'A.I']
[]

In [ ]:
l1 = ['Qasim',"Nasir Hussain",20, "A.I"] #old list

### Slicing

In [51]:
#extract more than one values from any list, tuple or np.array
#list[start,end,step]
#tuple[start,end,step]
#np.array[start:end:step] (":"->seprator)
#start = first index number you have to use to slicing (Include)
#end = first index number you have to use to slicing (exnclude)
#step = sequance

#              0            1           2            3                4
names = ["Inam ul Haq","Dr Noman","Anees Ahmed","Nasir Hussain","Muhamamd Qasim"]
#             -5           -4          -3           -2                -1
#list[start:end:step]
print(names[1:3])# DrNoman --- Nasir Hussain
print(names[1:4])# DrNoman --- Nasir Hussain
print(names[1:4])# DrNoman --- Nasir Hussain
print(names[-4:-1])# DrNoman --- Nasir Hussain
print(names[::2])# DrNoman --- Nasir Hussain

['Dr Noman', 'Anees Ahmed']
['Dr Noman', 'Anees Ahmed', 'Nasir Hussain']
['Dr Noman', 'Anees Ahmed', 'Nasir Hussain']
['Dr Noman', 'Anees Ahmed', 'Nasir Hussain']

In [56]:
numbers = list(range(1,11))
print(numbers)
print(numbers[2:])
print(numbers[2::])
print(numbers[-8:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
numbers = list(range(1,11))
print(numbers)
print(numbers[::1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
numbers = list(range(1,11))
print(numbers)
print(numbers[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [60]:
numbers = list(range(1,11))
print(numbers)
print(numbers[::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]